<h2 lass="text-center text-2xl font-bold my-4">
    {{myDate | date: 'short'}}
</h2>

<h3>
    Custom Pipe
    {{customNumberPipe | squareNumber: 3 }}
</h3>



<!-- 
    first -- true if the item is the first item in the iteration.
    last -- true if the item is the last item in the iteration.
    even -- true if the item has an even index in the iteration.
    odd -- true if the item has an odd index in the iteration.
    index -- the index of the current item in the iteration.
    count -- the total number of items in the array.
-->

<div class="row">
    @for (product of filteredProducts; track product.id) {
    <div class="col-12 col-md-6 col-lg-4">

        <div class="mb-4 p-8 flex items-center justify-center">
            <p-card class="w-100">
                <ng-template #header>
                    <img alt="Card" class="w-100" [src]="product.imageUrl"
                        style="max-height: 250px; object-fit:cover;" />
                </ng-template>
                <ng-template #title> {{product.name}} </ng-template>
                <ng-template #subtitle> {{product.price | currency:"EUR"}} </ng-template>


                <span class="text-white" [style.background-color]="product.quantity > 0 ? 'green' : 'red'"
                    *ngIf="product.quantity != 1; else lastItem">
                    {{product.quantity}} Available
                </span>
                <ng-template #lastItem>
                    <span class="text-white bg-danger">
                        Last Item
                    </span>
                </ng-template>

                <p>
                    {{product.description}}
                </p>
                <ng-template #footer>
                    <div class="flex gap-4 mt-1">
                        <p-button label="Show Id of Card" severity="secondary" styleClass="w-100 mb-3" [outlined]="true"
                            (click)="showId(product.id)" />


                        <div styleClass="w-100 mb-3">

                            <p-inputnumber #quantity [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                                spinnerMode="horizontal" [step]="1" [min]="0" [max]="product.quantity"
                                [inputStyle]="{'width': '100%', 'margin-bottom':'1rem;'}"
                                [style]="{'width': '100%' , 'margin-bottom':'1rem;'}">
                                >
                                <ng-template #incrementbuttonicon>
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                        </div>


                        <p-button label="Add to Cart" class="w-100 mt-4" styleClass="w-100 mb-3 mt-4"
                            (click)="addToCart(product, quantity.value?.toString() || '0')"
                            [disabled]="product.quantity == 0" />


                        
                        
                            <!-- <a routerLink="/productsDetails">View Details</a> -->
                            <p-button label="View Details" class="w-100 mt-4" styleClass="w-100 mb-3 mt-4" 
                            (click)="viewProductDetails(product.id)" />
                        

                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    }@empty {
    <div class="text-center">
        <h1 class="text-2xl font-bold">No Products Found</h1>
    </div>
    }
</div>


<!-- TO use images 
    write "assets": ["src/assets", "src/favicon.ico"], // angular.json
    as you are in the same directory as the assets folder
-->
<div *ngIf="1!=1">
    <img src="assets/images/products/image1.jpg" alt="">
</div>