<!-- Footer CODE -->
<footer class="footer bg-dark text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Learn</h3>
        <p>Learn is a platform for learning and teaching online where students are mastering new skills and achieving their goals by learning from an extensive library of over 45,000 courses taught by expert instructors.</p>
      </div>
      <div class="col-md-4">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="#"><i class="fa fa-youtube"></i> YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>