<h1 class="text-center text-2xl font-bold my-4">
    Total Order Value: {{totalOrderPrice}} LE
</h1>

<!--select bootstrap  -->
<select class="form-select mb-4" [(ngModel)]="selectedCategoryId">
    <!-- New Control Flow -->
    <option value="0" selected>All Categories</option>
    @for (category of categories; track $index) {
    <option [value]="category.id">{{category.name}}</option>
    }
</select>


<app-products [recivedCategoryId]="selectedCategoryId" (OnTotalPriceChanged)="calcTotalPrice($event)"
    class="row bg-info py-5 my-5"></app-products>



<label for="customerNameInput" class="form-label">Customer Name is :
    {{customerNameInput.value}}

</label>
<input type="text" class="form-control" placeholder="Enter Your Name" #customerNameInput
    (input)="customerNameInput.value" />